*.pfx
/Main.dist
/Main.dist
/Bacalyze.dist
/cer_sign.ps1
/cert_add.bat
/icon.ico
/icon.png
/Main.exe
/Main.py
/unnamed.cer
/unnamed.cer_bak
/Bacalyze.onefile.build
/Bacalyze.build
/*pfx
/*cer
/*bat
*.ico
backalyze_bak.exe
*.png
*.png
*.ico
Bacalyze - Copy.exe
